.main {
  @apply flex flex-col m-0 min-h-screen text-gray-700 pt-8;
}

.main h1 {
  @apply my-8 text-4xl select-none;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.005em;
}

.main p {
  @apply text-lg max-w-xl select-none;
}

.headerRow {
  @apply flex flex-row items-center;
}

.feed {
  @apply animate-bounce pr-4;
}

.accent {
  @apply transition duration-300 text-primary;
}

.resume {
  @apply no-underline text-gray-600 font-bold hover:opacity-80;
}

.banner_intro {
  @apply px-4 pb-8 flex flex-col justify-start min-h-screen max-w-5xl mx-auto;
}

.banner_career {
  @apply flex flex-col w-full overflow-hidden justify-center mx-auto min-h-screen;
}

.banner_career h1 {
  @apply text-gray-700 max-w-sm px-4;
}

.banner_portfolio {
  @apply flex flex-col justify-center min-h-screen max-w-5xl mx-auto;
}

.banner_portfolio h1 {
  @apply mb-12;
}

.skills {
  @apply flex flex-wrap;
}

.portfolio {
  @apply flex flex-wrap justify-center;
}

@screen md {
  .main {
    @apply py-0;
  }

  .main h1 {
    @apply text-6xl;
  }

  .main h1 {
    @apply text-5xl;
  }

  .main p {
    @apply text-xl;
  }

  .banner_intro {
    @apply px-12 justify-center;
  }

  .banner_career h1 {
    @apply px-12 max-w-5xl w-full mx-auto;
  }

  .banner_portfolio {
    @apply px-12 items-start;
  }

  .portfolio {
    @apply justify-start;
  }
}
